/EnvBourseproject
/EnvBourseIhmWeb
/EnvBourseMachineLearning
/EnvProjetBourseNew
API_KEYS.json
/Data
/mlruns
/mlartifacts
/SRC/mlruns

# Ignorer les fichiers compilés Python
__pycache__/
*.pyc
*.pyo
*.pyd
